.customer-dashboard {
  background-color: #f9f9f9;
  // overflow: hidden;
  // components
  &__sub-title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__ttile {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }

  .input {
    &__box {
      margin-bottom: 32px;
    }
    &__label {
      font-size: 16px;
      color: #555555;
      margin-bottom: 4px;
      font-weight: 500;
      .required {
        color: red;
      }
    }
    &--checkbox__label {
      font-weight: 400;
      color: #000;
    }
    &__note {
      font-size: 16px;
      color: #000;
      font-style: italic;
      margin-top: 4px;
    }
    &__field {
      border-radius: 4px;
      min-height: 50px;
      padding: 0 20px;
      display: flex;
      align-items: center;
      border: 1px solid #eee;
      background-color: #f5f5f5;
      box-shadow: none;
      outline: none;
      width: 100%;
      font-size: 18px;
      color: #000;
      &::-webkit-file-upload-button {
        border: 0;
        height: 50px;
        padding: 0 20px;
        background-color: #ddd;
      }
      &:focus {
        background-color: white;
      }
    }
    &--checkbox {
      min-height: auto;
      height: 25px;
      width: 25px;
      border-radius: 4px;
      flex-shrink: 0;
      margin-right: 12px;
      border: 1px solid #eee;
    }
  }

  .button {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 20px;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 500;
    &--purple {
      background-color: #6e6af2;
      color: white;
      border: 1px solid #6e6af2;
    }
    &--sm {
      height: 40px;
      font-size: 14px;
      padding: 0 16px;
    }
    &--dark {
      background-color: #000;
      color: white;
      border: 1px solid #000;
    }
    &--secondary {
      background-color: #555;
      color: white;
      border: 1px solid #555;
    }
  }

  .badge {
    font-size: 14px;
    padding: 4px 8px;
    border-radius: 4px;
    &--purple {
      background-color: #6e6af2;
      color: white;
    }
    &--yellow {
      background-color: #ffc001;
    }
    &--pill {
      border-radius: 10px;
    }
    &--light {
      background-color: #eee;
      color: #000;
    }
  }

  .aside-content {
    overflow: hidden;
    position: sticky;
    top: 0;
    height: 100vh;
    background-color: #f9f9f9;
    overflow-y: auto;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .brand-logo {
      display: block;
      text-decoration: none;
      margin-bottom: 32px;
      &__image {
        width: 200px;
      }
    }

    .customer-nav {
      list-style: none;
      padding: 0;

      &__item {
        font-size: 16px;
        text-decoration: none;
        padding: 12px 20px;
        color: #000;
        display: block;
        margin-bottom: 10px;
        &:hover {
          background-color: #e8e8ff;
        }
        &.active {
          background-color: #6e6af2;
          color: white;
        }
      }
    }
  }
  .main-content {
    overflow: hidden;
    background-color: white;
    padding: 40px 40px 0 40px;
    .payment-option {
      list-style: none;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      flex-wrap: nowrap;
      width: 100%;

      &::-webkit-scrollbar {
        display: none;
      }
      &:hover {
        &::-webkit-scrollbar {
          display: block;
        }
      }
      input[type="radio"]:checked ~ label {
        border: 2px solid #6e6af2;
      }

      &__item {
        display: inline-block;
        border: 1px solid #eee;
        border-radius: 10px;
        padding: 10px 30px;
        margin-right: 16px;
        cursor: pointer;
        position: relative;
      }
      .badge {
        position: absolute;
        top: -15px;
        left: 10px;
        border-right: 3px;
        border-left: 3px;
        border-style: solid;
        border-color: white;
      }
      &__image {
        width: 80px;
        height: 60px;
        object-fit: cover;
        object-position: center;
      }
    }
    .payment-form {
      padding: 40px 0;
    }
    .transaction-status {
      margin-bottom: 40px;
      &__card {
        padding: 20px;
        border: 1px solid #eee;
        background-color: white;
        border-radius: 4px;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          height: 8px;
          width: 28px;
          border-radius: 6px;
          top: 10px;
          right: 10px;
        }
        &.current-balance {
          &::after {
            background-color: #6e6af2;
          }
        }
        &.load-balance {
          &::after {
            background-color: #0ea049;
          }
        }
        &.expense-balance {
          &::after {
            background-color: #d31515;
          }
        }
        &.pending-balance {
          &::after {
            background-color: #f37d0f;
          }
        }
      }
      &__image {
        height: 50px;
        margin-bottom: 20px;
      }
      &__price {
        font-size: 24px;
        font-weight: bolder;
        margin-bottom: 12px;
      }
      &__label {
        font-size: 14px;
        color: #555;
        margin-bottom: 0;
      }
    }
    .transaction-table {
      &__image {
        height: 40px;
      }
      &__balance {
        font-size: 18px;
        font-weight: 500;
        .increment {
          font-size: 12px;
          color: #555;
        }
      }
    }
    .ticket-tab {
      list-style: none;
      padding: 0;
      margin: 0 0 40px 0;
      display: flex;
      align-items: center;
      &__item {
        text-decoration: none;
        display: inline-block;
        margin-right: 20px;
        font-size: 16px;
        font-weight: 500;
        padding-bottom: 12px;
        color: #000;
        &.active {
          color: #6e6af2;
          border-bottom: 1px solid #6e6af2;
        }
        &:hover {
          color: #6e6af2;
        }
      }
    }
    .ticket-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .ticket {
      &__item {
        padding: 20px;
        border: 1px solid #eee;
        border-radius: 4px;
        margin-bottom: 10px;
      }
      &__title {
        font-size: 16px;
        font-weight: 500;
        color: #000;
        text-decoration: none;
        &:hover {
          color: #6e6af2;
        }
      }
      &__description {
        font-size: 14px;
      }
      &__date {
        font-size: 14px;
        color: #555;
        margin-left: 20px;
      }
      &__comment {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 0;
        margin-left: 20px;
      }
    }
    .ticket-detail {
      &__title {
        font-size: 18px;
        font-weight: 500;
        color: #000;
      }

      .ticket {
        &__owner {
          font-size: 14px;
          font-weight: 400;
          color: #6e6af2;
        }
        &__description {
          font-size: 14px;
          font-weight: 400;
        }
        &__date {
          color: #555;
        }
      }
      .author {
        &__profile {
          height: 45px;
          width: 45px;
          border-radius: 50%;
          overflow: hidden;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }

        &__name {
          font-size: 16px;
          font-weight: 600;
          margin-bottom: 4px;
        }
        &__date {
          font-size: 14px;
          font-weight: 400;
          color: #555;
          margin-bottom: 0;
        }
      }
      .ticket__chat {
        padding:0 20px;
        border: 1px solid #eee;
        background-color: white;
        border-radius: 4px;
        list-style: none;
        margin: 0;
      }
      .chat__item{
        padding-bottom: 20px;
        padding-top: 20px;
        border-bottom: 1px solid #eee;
        &:last-child{
          border-bottom: 0;
          padding-bottom: 20px;
        }
      }
    }
    .author{
      &-detail{
        padding: 20px;
        border: 1px solid #eee;

        &__name{
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
  &__header {
    border-bottom: 1px solid #eee;
    padding: 40px 40px 10px 40px;
    background-color: #f9f9f9;
    position: sticky;
    top: 0;
  }
  &__editor {
    border: 1px solid #eee;
    padding: 20px;
    background-color: #f9f9f9;
    h2 {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    ul {
      margin-bottom: 20px;
      li {
        font-size: 16px;
        color: #000;
        margin-bottom: 8px;
      }
    }
  }
  &__table {
    td,
    th {
      vertical-align: middle;
    }
  }
}
