.customer-dashboard {
  background-color: #f9f9f9;
  display: flex;
}

.customer-dashboard__sub-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.customer-dashboard__title {
  font-size: 24px;
  font-weight: bold;
  color: #000;
}

.customer-dashboard__description {
  font-size: 16px;
}

.customer-dashboard__bonus-text {
  font-size: 16px;
  color: #f37d0f;
  font-weight: 500;
}

.customer-dashboard__no-data img {
  height: 150px;
  margin-bottom: 20px;
}

.customer-dashboard__breadcrumb {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  display: flex;
  align-items: center;
}

.customer-dashboard__breadcrumb .breadcrumb__item {
  font-size: 16px;
  font-weight: 500;
  color: #777;
  padding-right: 16px;
}

.customer-dashboard__breadcrumb .breadcrumb__item .breadcrumb__link {
  color: #6e6af2;
  text-decoration: none;
  position: relative;
}

.customer-dashboard__breadcrumb .breadcrumb__item .breadcrumb__link::after {
  content: "/";
  position: absolute;
  top: 50%;
  right: -12px;
  color: #777;
  transform: translateY(-50%);
}

.customer-dashboard .striped-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.customer-dashboard .striped-list .striped__item {
  background-color: white;
  padding: 14px 20px;
  display: flex;
  align-items: center;
  border-radius: 4px;
}

.customer-dashboard .striped-list .striped__item:nth-child(2n-1) {
  background-color: #f5f5f5;
}

.customer-dashboard .striped-list .striped__item .label {
  font-size: 16px;
  font-weight: 400;
  color: #555555;
  width: 100px;
  display: inline-block;
}

.customer-dashboard .striped-list .striped__item .text {
  font-size: 16px;
  font-weight: 500;
  color: black;
}

.customer-dashboard .img__fluid {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.customer-dashboard .input__box {
  margin-bottom: 32px;
}

.customer-dashboard .input__label {
  font-size: 16px;
  color: #555555;
  margin-bottom: 4px;
  font-weight: 500;
}

.customer-dashboard .input__label .required {
  color: red;
}

.customer-dashboard .input--checkbox__label {
  font-weight: 400;
  color: #000;
}

.customer-dashboard .input__note {
  font-size: 16px;
  color: #000;
  font-style: italic;
  margin-top: 4px;
}

.customer-dashboard .input__field {
  border-radius: 4px;
  min-height: 50px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  border: 1px solid #eee;
  background-color: #f5f5f5;
  box-shadow: none;
  outline: none;
  width: 100%;
  font-size: 18px;
  color: #000;
}

.customer-dashboard .input__field::-webkit-file-upload-button {
  border: 0;
  height: 50px;
  padding: 0 20px;
  background-color: #ddd;
}

.customer-dashboard .input__field:focus {
  background-color: white;
}

.customer-dashboard .input--checkbox {
  min-height: auto;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  flex-shrink: 0;
  margin-right: 12px;
  border: 1px solid #eee;
}

.customer-dashboard .input--checkbox:checked {
  accent-color: #6e6af2;
}

.customer-dashboard .image-upload-box {
  height: 150px;
  width: 150px;
  border-radius: 4px;
  overflow: hidden;
}

.customer-dashboard #user_profile__remove {
  color: red;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
  border: 0;
  font-size: 16px;
  font-weight: 500;
}

.customer-dashboard .button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 500;
}

.customer-dashboard .button--purple {
  background-color: #6e6af2;
  color: white;
  border: 1px solid #6e6af2;
}

.customer-dashboard .button--sm {
  height: 32px;
  font-size: 14px;
  padding: 0 16px;
}

.customer-dashboard .button--dark {
  background-color: #000;
  color: white;
  border: 1px solid #000;
}

.customer-dashboard .button--secondary {
  background-color: #555;
  color: white;
  border: 1px solid #555;
}

.customer-dashboard .badge {
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: 600;
}

.customer-dashboard .badge--purple {
  background-color: #6e6af2;
  color: white;
}

.customer-dashboard .badge--yellow {
  background-color: #ffc001;
}

.customer-dashboard .badge--pill {
  border-radius: 10px;
}

.customer-dashboard .badge--light {
  background-color: #eee;
  color: #000;
}

.customer-dashboard .aside-content {
  overflow: hidden;
  position: sticky;
  top: 0;
  z-index: 1020;
  height: 100vh;
  width: 300px;
  border-right: 1px solid #eee;
  background-color: #f9f9f9;
  overflow-y: auto;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.customer-dashboard .aside-content .menu-list .menu__title {
  font-size: 16px;
  font-weight: 500;
  color: #777;
  margin-bottom: 20px;
}

.customer-dashboard .aside-content .brand-logo {
  display: block;
  text-decoration: none;
  margin-bottom: 64px;
}

.customer-dashboard .aside-content .brand-logo__image {
  width: 200px;
}

.customer-dashboard .aside-content .customer-nav {
  list-style: none;
  padding: 0;
}

.customer-dashboard .aside-content .customer-nav__item {
  font-size: 16px;
  text-decoration: none;
  padding: 12px 20px;
  color: #000;
  font-weight: 500;
  display: block;
  margin-bottom: 4px;
}

.customer-dashboard .aside-content .customer-nav__item i {
  margin-right: 12px;
}

.customer-dashboard .aside-content .customer-nav__item:hover {
  background-color: #eeeefd;
}

.customer-dashboard .aside-content .customer-nav__item.active {
  border-left: 2px solid #6e6af2;
  color: #6e6af2;
  font-weight: 500;
  background-color: #eeeefd;
}

.customer-dashboard .main-content {
  overflow: hidden;
  background-color: white;
  width: calc(100% - 300px);
  min-height: 100vh;
}

.customer-dashboard .main-content__header {
  position: fixed;
  width: calc(100% - 300px);
  right: 0;
  top: 0;
  z-index: 1020;
  border-bottom: 1px solid #eee;
  padding: 20px 32px;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customer-dashboard .main-content__header .user-profile {
  display: flex;
  align-items: center;
}

.customer-dashboard .main-content__header .user-profile__image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-dashboard .main-content__header .user-profile__greet {
  font-size: 12px;
  color: #777;
  margin-bottom: 2px;
}

.customer-dashboard .main-content__header .user-profile__name {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 0;
}

.customer-dashboard .main-content__body {
  margin-top: 100px;
  background-color: white;
  padding: 10px 32px 32px 32px;
}

.customer-dashboard .main-content .payment-option {
  list-style: none;
  padding: 0;
  margin: 0 0 32px 0;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
}

.customer-dashboard .main-content .payment-option::-webkit-scrollbar {
  display: none;
}

.customer-dashboard .main-content .payment-option:hover::-webkit-scrollbar {
  display: block;
}

.customer-dashboard .main-content .payment-option input[type="radio"]:checked ~ label {
  border: 2px solid #6e6af2;
}

.customer-dashboard .main-content .payment-option input[type="radio"]:checked ~ label::after {
  content: "\f00c";
  position: absolute;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6e6af2;
  top: 5px;
  right: 5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: white;
  font-size: 14px;
}

.customer-dashboard .main-content .payment-option__item {
  position: relative;
  display: inline-block;
  border: 1px solid #eee;
  border-radius: 10px;
  padding: 10px 30px;
  margin-right: 16px;
  cursor: pointer;
  position: relative;
}

.customer-dashboard .main-content .payment-option .badge {
  position: absolute;
  top: -15px;
  left: 10px;
  border-right: 3px;
  border-left: 3px;
  border-style: solid;
  border-color: white;
}

.customer-dashboard .main-content .payment-option__image {
  width: 80px;
  height: 60px;
  object-fit: cover;
  object-position: center;
}

.customer-dashboard .main-content .transaction-status {
  margin-bottom: 32px;
}

.customer-dashboard .main-content .transaction-status__card {
  padding: 20px;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 4px;
  position: relative;
}

.customer-dashboard .main-content .transaction-status__card::after {
  content: "";
  position: absolute;
  height: 8px;
  width: 28px;
  border-radius: 6px;
  top: 10px;
  right: 10px;
}

.customer-dashboard .main-content .transaction-status__card.current-balance::after {
  background-color: #6e6af2;
}

.customer-dashboard .main-content .transaction-status__card.load-balance::after {
  background-color: #0ea049;
}

.customer-dashboard .main-content .transaction-status__card.expense-balance::after {
  background-color: #d31515;
}

.customer-dashboard .main-content .transaction-status__card.pending-balance::after {
  background-color: #f37d0f;
}

.customer-dashboard .main-content .transaction-status__image {
  height: 50px;
  margin-bottom: 20px;
}

.customer-dashboard .main-content .transaction-status__price {
  font-size: 24px;
  font-weight: bolder;
  margin-bottom: 8px;
}

.customer-dashboard .main-content .transaction-status__label {
  font-size: 16px;
  color: #555;
  margin-bottom: 0;
}

.customer-dashboard .main-content .transaction-table__image {
  height: 32px;
}

.customer-dashboard .main-content .transaction-table__balance {
  font-size: 16px;
  font-weight: 700;
}

.customer-dashboard .main-content .transaction-table__balance .increment {
  font-size: 12px;
  color: #555;
  font-weight: 400;
}

.customer-dashboard .main-content .customer-tab {
  list-style: none;
  padding: 0;
  margin: 0 0 32px 0;
  display: flex;
  align-items: center;
}

.customer-dashboard .main-content .customer-tab__item {
  text-decoration: none;
  display: inline-block;
  margin-right: 20px;
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 12px;
  color: #555;
}

.customer-dashboard .main-content .customer-tab__item.active {
  color: #6e6af2;
  border-bottom: 1px solid #6e6af2;
}

.customer-dashboard .main-content .customer-tab__item:hover {
  color: #6e6af2;
}

.customer-dashboard .main-content .ticket-tab__content .tab-content {
  display: none;
}

.customer-dashboard .main-content .ticket-tab__content .tab-content.active {
  display: block;
}

.customer-dashboard .main-content .ticket-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.customer-dashboard .main-content .ticket__item {
  padding: 20px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 10px;
}

.customer-dashboard .main-content .ticket__title {
  font-size: 18px;
  font-weight: 700;
  color: #000;
  text-decoration: none;
}

.customer-dashboard .main-content .ticket__title:hover {
  color: #6e6af2;
}

.customer-dashboard .main-content .ticket__description {
  font-size: 16px;
  color: #000;
  font-weight: 400;
}

.customer-dashboard .main-content .ticket__date {
  font-size: 14px;
  color: #555;
  margin-left: 20px;
  white-space: nowrap;
  margin-bottom: 0;
}

.customer-dashboard .main-content .ticket__comment {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 0;
  margin-left: 20px;
}

.customer-dashboard .main-content .ticket-detail__title {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}

.customer-dashboard .main-content .ticket-detail .ticket__owner {
  font-size: 14px;
  font-weight: 400;
  color: #6e6af2;
}

.customer-dashboard .main-content .ticket-detail .ticket__description {
  font-size: 16px;
  font-weight: 400;
}

.customer-dashboard .main-content .ticket-detail .ticket__date {
  color: #555;
}

.customer-dashboard .main-content .ticket-detail .author__profile {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-dashboard .main-content .ticket-detail .author__profile img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.customer-dashboard .main-content .ticket-detail .author__name {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 4px;
}

.customer-dashboard .main-content .ticket-detail .author__date {
  font-size: 14px;
  font-weight: 400;
  color: #555;
  margin-bottom: 0;
}

.customer-dashboard .main-content .ticket-detail .ticket__chat {
  padding: 0 20px;
  border: 1px solid #eee;
  background-color: white;
  border-radius: 4px;
  list-style: none;
  margin: 0;
}

.customer-dashboard .main-content .ticket-detail .chat__item {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid #eee;
}

.customer-dashboard .main-content .ticket-detail .chat__item:last-child {
  border-bottom: 0;
  padding-bottom: 20px;
}

.customer-dashboard .main-content .author-detail {
  padding: 20px;
  border: 1px solid #eee;
}

.customer-dashboard .main-content .author-detail .author__name {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
}

.customer-dashboard .main-content .author-detail .author__position {
  font-size: 14px;
  color: #555;
  text-align: center;
}

.customer-dashboard .main-content .author-detail .author__image {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 10px;
  margin: 0 auto;
}

.customer-dashboard .user-detail {
  margin-bottom: 32px;
}

.customer-dashboard .user-detail .user__image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  overflow: hidden;
}

.customer-dashboard .user-detail .user__name {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}

.customer-dashboard .user-detail .user__email {
  font-size: 16px;
  font-weight: 400;
  color: #555555;
  font-style: italic;
  margin-bottom: 20px;
}

.customer-dashboard .user-detail .user__joned {
  font-size: 16px;
  font-weight: 500;
  color: #000;
  margin-bottom: 4px;
}

.customer-dashboard .user-detail .user__last-active {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 0;
}

.customer-dashboard .user-detail .user__last-active .date {
  color: #6e6af2;
}

.customer-dashboard .user-detail-content .detail-content {
  display: none;
}

.customer-dashboard .user-detail-content .detail-content.active {
  display: block;
}

.customer-dashboard .user-detail-content .additional-detail .striped-list .label {
  width: 150px;
}

.customer-dashboard__editor {
  border: 1px solid #eee;
  padding: 20px;
  background-color: #f9f9f9;
}

.customer-dashboard__editor h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.customer-dashboard__editor ul {
  margin-bottom: 20px;
}

.customer-dashboard__editor ul li {
  font-size: 16px;
  color: #000;
  margin-bottom: 8px;
}

.customer-dashboard__table td,
.customer-dashboard__table th {
  vertical-align: middle;
}
/*# sourceMappingURL=style.css.map */